.form-group{
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 40px !important;
  width: 100%;
  max-width: 450px;
}
#main-card{
  border-radius: 50px !important;
  display: flex;
  justify-content: center;
}

.card-header {
  background-color: #3B389f !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 10px !important;
  width: 100% !important;
  border: none !important;
}

#text-link{
  color: #3B389f;
}
#text-link:hover{
  color: #8f8f9e;
}